mat-sidenav-container {
  height: 100vh;
}

mat-sidenav {
  position: fixed;
  display: flex;
  width: 26rem;
  max-width: 26rem;
  flex-direction: column;
  height: 100vh;
  background-color: #ffff;
  box-shadow: 0 0 15px 0 rgb(34 41 47 / 5%);
}

mat-sidenav-content {
  padding: 1.7rem 2.6rem 2rem 2.6rem;
}
.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.header-navbar-shadow {
  background: linear-gradient(
    180deg,
    hsla(0, 0%, 97.3%, 0.95) 44%,
    hsla(0, 0%, 97.3%, 0.46) 73%,
    hsla(0, 0%, 100%, 0)
  );
  padding-top: 2.2rem;
  left: 0;
  display: block;
  width: 100%;
  height: 102px;
  position: fixed;
  top: 0;
  z-index: 11;
}

.mat-drawer-side {
  border-right: 0 !important;
}
